.container {
  @include max-size;
  position: relative;

  > .player,
  > .hammer,
  > .enemy > div {
    width: calc(var(--size) * 2px);
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    position: absolute;
    aspect-ratio: 1;
    border-radius: 100%;
    translate: -50% -50%;
    animation: shadow 1.5s infinite alternate ease-out;

    @keyframes shadow {
      to {
        box-shadow: 0 0 10px 2px black;
      }
    }
  }

  > .player {
    background: white;
    box-shadow:
      0 0 10px black,
      inset 0 0 10px lightgray;
  }

  > .hammer {
    background: black;
    box-shadow: 0 0 10px black;
  }

  > .enemy {
    @include max-size;
    > div {
      border: 1px white solid;
      background: yellow;
      $a: gray, black, red;
      @each $color in $a {
        &:global(.hp-#{index($a, $color)}) {
          background: $color;
        }
      }
      animation:
        show 1s ease,
        shadow 1.5s infinite alternate ease-out;
      @keyframes show {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  > .score {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    &::before {
      content: 'Score: ';
    }
  }

  > .move {
    display: none;
    &:global(.show) {
      opacity: 0.5;
      margin: 120px auto;
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      width: 25vw;
      aspect-ratio: 1;
      background: lightgray;
      touch-action: none;
      max-width: 100px;

      > div {
        background: gray;
        aspect-ratio: 1;
        border-radius: 50%;
        width: calc(var(--size) * 1px);
        position: relative;
        left: calc(var(--x) * 1px);
        top: calc(var(--y) * 1px);
        translate: -50% -50%;
        display: none;
      }
      > div:first-child {
        display: block;
      }
    }
  }
}
