@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(/font/Material-Symbols/MaterialSymbolsOutlined.woff2),
    url(/font/Material-Symbols/MaterialSymbolsOutlined.ttf);
}

@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100 700;
  src: url(/font/Material-Symbols/MaterialSymbolsSharp.woff2),
    url(/font/Material-Symbols/MaterialSymbolsSharp.ttf);
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(/font/Material-Symbols/MaterialSymbolsRounded.woff2),
    url(/font/Material-Symbols/MaterialSymbolsRounded.ttf);
}

.m-outlined,
.m-sharp,
.m-rounded {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.m-outlined {
  font-family: 'Material Symbols Outlined';
}

.m-sharp {
  font-family: 'Material Symbols Sharp';
}

.m-rounded {
  font-family: 'Material Symbols Rounded';
}
